@import url('https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:wght@400;500;700&family=DM+Serif+Display&display=swap');


.container {
  width: 100%;
  background: rgba(245,239,230,.7);
}


.navbar {
  padding-top: 2.8em;
  padding-left: 500px;
    z-index:1;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav li {
    list-style-type: none;
  }
  
  nav a {
    text-decoration: none;
    color: rgba(245, 239, 230, 1);
    padding: 3em;
    font-family: Dm Sans;
    text-transform: uppercase;
  }



  .hero {
    height: 120vh;
    background: url(images/hero-image.jpg);
    background-position: center;
    background-size: cover;
  }


  .header {
    padding-top: 250px;
  }

  .ptext {
    background: rgba(255, 255, 255, 50%);
    font-family: DM Serif Display;
    font-size: 85px;
    line-height: 0.9;
    text-transform: uppercase;
    position: absolute;
    width: 30%;
    height: 21%;
    padding-left: 100px;
    right: 0;
  }

.ptext span {
  position: relative;
  top: -48px
}

  .logo {
    position: absolute;
    
  }

 

.about {
  height: 170vh;
  background: rgba(245,239,230,.7);
  background-image: url(images/ABOUT.png);
  background-repeat: no-repeat;
  background-position: bottom 110px right 35px;
}

.about-heading {
  padding-top: 200px;
}


.card {
  padding-top: 9px;
  display: flex;
  gap: 10em;
}

.about-content {
  font-family: Dm Sans;
  font-size: 19px;
  padding-top: 270px;
  padding-left: 50px;
  text-align: justify;
}

.about .first-image {
  position: relative;
  padding-top: 189px;
padding-right: 170px;
}

.about .second-image {
  position: absolute;
  top: 985px;
  right: 112px;
}

.text {
  position: absolute;
  padding-top: 200px;
  width: 98%;
}

.title {
  position: absolute;
  font-family: DM Serif Display;
  font-size: 80px;
  text-transform: uppercase;
  padding-left: 50px;
  background: rgba(116, 106, 92, 30%);
  width: 39%;
  height: 38%;
}

.title span {
  position: relative;
  top: -55px
}



.gif {
  background: url(images/gif-animation.gif);
  background-repeat: no-repeat;
  background-size: cover;
justify-content: center;
height: 73vh;
}

h2 {
  font-family: Alata;
  font-size: 25px;
  color: #F6F4EF;
  position: absolute;
  padding-top: 380px;
  padding-left: 850px;
}




.films {
  background-image: url(images/FILMS.png);
  background-repeat: no-repeat;
  background-position: bottom 18px right 35px;
  height: 160vh;
}

.title-second {
  position: absolute;
  font-family: DM Serif Display;
  font-size: 80px;
  text-transform: uppercase;
  padding-left: 50px;
  background: rgba(116, 106, 92, 30%);
  width: 39%;
  height: 38%;
}

.text-second {
  position: absolute;
  padding-top: 100px;
  width: 98%;
  height: 20%;
}

.title-second span {
  position: relative;
  top: -49px;
}

.film-heading {
  padding-top: 90px;
}


.movies {
display: flex;
justify-content: center;
padding-top: 300px;
gap: 5rem;
}

.film-card {
  font-family: Alata;
  font-size: 20px;
  line-height: 1.5;
}




.quote {
  text-align: center;
  font-family: Alata;
  font-size: 60px;
  height: 60vh;
  padding-top: 100px;
  }





.slider {
  position: relative;
  overflow: hidden;
  height: 150vh;
  width: 100%;
}

.slide {
  position: absolute;
  right: 0;
  width: 100%;
  height: 130%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 3;
}

.slide .content {
  height: 35vh;
  font-family: DM Sans;
  font-size: 19px;
  position: absolute;
  top: 690px;
  padding-right: 3px;  
  width: 50%;
  background: rgba(116, 106, 92, 70%);
  color: #F6F4EF;
  padding-left: 20px;
  text-align: justify;
}

.content-text {
  padding-top: 88px;
}

h3 {
  font-family: DM Serif Display;
  text-transform: uppercase;
  position: absolute;
  bottom: 89px;
  font-size: 60px;
}


.slide.current .content {
  opacity: 1;
  /* transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s; */
}



.buttons button#next {
  position: absolute;
  right: 30px;
  top: 4655px;

}

.buttons button#prev {
  position: absolute;
  left: 30px;
  top: 4655px;
}

.buttons button {
  border: 2px solid #374747;
  background-color: #374747;
  color: #F5EFE6;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: white;
}

.buttons button:hover {
  background-color: rgba(255,255,255,.8);
  color: transparent;
}

@media(max-width: 500px) {
  .slide .content {
    bottom: 0x;
    left: 0;
    width: 100%;
  }  
  
  .slide.current .content {
    transform: translateY(-300px);
  } 
}

.slide:first-child {
  background: url("images/charity-image.jpg") no-repeat center center/cover;
}

.slide:nth-child(2) {
  background: url("images/audrey-charity.jpg") no-repeat center center/cover;
}

.slide:nth-child(3) {
  background: url("images/audrey-award.jpg") no-repeat center center/cover;
}







.donate {
  background: url(images/donate-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 40px;
  height: 65vh;
  margin-top: 200px;
  margin-bottom: 200px;
}

.donate-text {
  text-align: center;
  padding-top: 100px;
}

.btn {
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  background: #374747;
  color: #F5EFE6;
  padding: .8rem 1.8rem;
  margin-top: 1rem;
}

.btn:hover {
  opacity: 0.8;
}




.fashion {
  height: 155vh;
  background-image: url(images/FASHION.png);
  background-repeat: no-repeat;
  background-position: bottom 45px right 35px;
}

.title-third {
  position: absolute;
  font-family: DM Serif Display;
  font-size: 80px;
  text-transform: uppercase;
  padding-left: 50px;
  background: rgba(116, 106, 92, 30%);
  width: 39%;
  height: 38%;
  right: 0;
}

.text-third {
  position: absolute;
  padding-top: 100px;
  width: 98%;
  height: 20%;
}

.title-third span {
  position: relative;
  top: -49px;
}


.fashion-heading {
  padding-top: 28px;
}

.fashion-content {
  justify-content: center;
  display: flex;
  gap: 10em;
  text-align: justify;
}

.fashion-text {
  font-family: Dm Sans;
  font-size: 19px;
  padding-top: 230px;
  padding-right: 40px;
}

.fashion .first-image {
  position: relative;
  left: 60px;
  top: 0;
}

.fashion .second-image {
  position: absolute;
  padding-top: 130px;
  right: 620px;
}




.suscribe {
  background: white;
height: 100vh;
}

.suscribe-heading {
  justify-items: center;
}

h4 {
  font-family: DM Serif Display;
  font-size: 60px;
}



.footer {
  background-color: #746A5C;
  height: 35vh;
  display: flex;
}

.last-logo {
position: absolute;
right: 10px;
padding-top: 5px;
}

.text-last {
  position: relative;
  left: 1050px;
}

h6 {
  font-family: DM Sans;
  color: #F6F4EF;
  text-transform: uppercase;
  font-size: 13px;
}









