.container {
  width: 1185px;
}



.navbar {
    padding: 1.5em;
    z-index:1;
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav li {
    list-style-type: none;
  }
  
  nav a {
    text-decoration: none;
    color: rgba(245, 239, 230, 1);
    padding: 3em;
    text-transform: uppercase;
  }



  .hero {
    height: 120vh;
    background: url(images/hero-image.jpg);
    background-position: center;
    background-size: cover;
  }

  .ptext {
    background: rgba(255,255,255,.7);
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    bottom: 180px;
    right: 5px;
    position: absolute;
    padding: 1em;
  }


  .logo {
    position: absolute;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 

.about {
  width: 1185px;
  height: 115vh;
  padding: 120px;
  display: flex;
  justify-content: center;
  gap: 10em;
  background: rgba(245,239,230,.7);
  background-image: url(images/ABOUT.png);
  background-repeat: no-repeat;
  background-position: bottom 75px right 35px;
}



.gif {
  background: url(images/gif-animation.gif);
justify-content: center;
height: 73vh;
}


h2 {
  color: #F6F4EF;
  position: absolute;
  padding-top: 400px;
  padding-left: 920px;
}



.films {
  width: 1185px;
  padding: 120px;
  background: rgba(245,239,230,.7);
  background-image: url(images/FILMS.png);
  background-repeat: no-repeat;
  background-position: bottom 250px right 35px;
  height: 150vh;
}

.films-text {
padding-top: 400px;
text-align: center;
}



.movies {
display: flex;
width: 100%;
justify-content: center;
margin: 1em;
padding-top: 100px;
gap: 80px;
}


.charity {
  text-align: right;
  background: url(images/charity-image.jpg);
  height: 150vh;
}


.content {
position: absolute;
right: 0;
width: 40%;
background: rgba(116, 106, 92, 1);
color: #F6F4EF;
padding: 3em;
}

.charity .content h3 {
  margin-bottom: 10px;
}


h3 {
  opacity: 100%;
}


.donate {
  background: url(images/donate-image.jpg);
  height: 65vh;
}

.donate-text {
  text-align: center;
padding: 160px;
}

.btn {
  display: inline-block;
  background: #374747;
  color: #F5EFE6;
  padding: .8rem 1.8rem;
  margin-top: 2rem;
}

.btn:hover {
  opacity: 0.8;
}

.fashion {
  margin: 7px;
  padding: 120px;
  display: flex;
  justify-content: center;
  gap: 25em;
  background: rgba(245,239,230,.7);
  width: 1185px;
  height: 200vh;
  background-image: url(images/FASHION.png);
  background-repeat: no-repeat;
  background-position: bottom 530px right 35px;
}

.fashion .first-image {
  position: relative;
  left: 0;
}

.fashion .second-image {
  position: absolute;
  padding-top: 110px;
  right: 540px;
}



h1 {
  background: rgba(116, 106, 92, 1);
}






